* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #cfcfcf;
}

.container {
    width: 840px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 100px 0;
}

.profile {
    text-align: center;
}

.profile-avatar {
    height: 160px;
    width: 180px;
    border-radius: 50%;
}

.profile-name {
    padding: 16px 0;
}

.profile-description {
    padding: 16px 0;
    line-height: 24px;
    padding-bottom: 80px;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 210px;
    width: 480px;
    margin: 0 auto;
}

.links-btn {
    text-align: center;
    background-color: #000;
    margin: 16px;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
}

.links-btn:hover {
    background-color: transparent;
    color: #000;
    outline: 8px solid #000;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 210px;
        width: 90%;
        margin: 0 auto;
    }

    .links-btn {
    color: #000;
    background-color: transparent;
    outline: 8px solid #000;
}
}